* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 40vh;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
  width: 96%;
  margin: 1rem auto 0;
  background-color: #f0f0f0;
  overflow-x: auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.4);
  padding: 1rem;
  z-index: 1000;
  border-radius: 5px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Form styles */
.add-user {
  margin: 0 auto;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 1rem auto;
}

.add-user h3 {
  margin: 0 0 0.6rem 0;
  text-align: center;
}

.add-user form {
  width: 100%;
}

.add-user form .form-group {
  margin-bottom: 0.6rem;
  display: flex;
  flex-direction: column;
}

.add-user form .form-group label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.add-user form .form-group input {
  padding: 0.3rem 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-user form .form-group input:focus {
  outline: none;
  border-color: #4CAF50;
}

.add-user form .form-group small {
  color: #f00;
  margin-top: 0.2rem;
}

.add-user form .form-group input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.25rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.add-user form .form-group input[type="submit"]:hover {
  background-color: #026d46;
}